.firstCard {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  margin: 20px auto;
  font-family: 'Space Grotesk', sans-serif;
}

.firstCard h1 {
  font-size: 18px;
  margin: 8px 0;
  letter-spacing: 2px;
}

.Month {
  display: flex;
  gap: 5px;
  align-items: center;
}

.secondCard {
  background-color: gray;
  color: white;
  padding: 15px;
  border-radius: 12px;
  width: 350px;
  margin: 10px auto;
  text-align: right;
  font-family: 'Space Grotesk', sans-serif;
}
