.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 50px auto;
}

.inputField {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 8px;
}

.inputField:focus {
  border-color: #a200ff;
  outline: none;
}

.submitBtn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #a200ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.submitBtn:hover {
  background-color: #a200ff;
}
