@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.formsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 381px;
  margin: 50px auto;
  position: absolute;
  top: 180px;
  left: 829px;
}

.CardDetails {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.CardInputs {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

label,
input {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  color: #21092f;
}

input {
  padding: 11px 16px;
  border: 1px solid #dfdee0;
  border-radius: 8px;
}

.MonthYearCVCInput {
  display: flex;
  gap: 20px;
}

.monthYearinput,
.CvcInput {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.MYINPUT {
  display: flex;
  width: 50%;
  gap: 10px;
}

.MYINPUT input {
  width: 80px;
}

.CvcInput input {
  width: 191px;
}

button {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  background-color: #21092f;
}

.error {
  border: 1px solid #ff5252;
}

.errorMsg {
  color: #ff5252;
  font-size: 14px;
  margin-top: 5px;
}